<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Conductor: <%= @page_title %></title>
  <%= stylesheet_link_tag "conductor" %>
  <%= javascript_include_tag "conductor" %>
</head>

<body>
  <div id="main-wrap">
    <div id="topNav">
      <div class="wrapper">
        <strong class="more-info-label">
          More at
          <a href="http://rubyonrails.org/">
            rubyonrails.org:
          </a>
        </strong>
        <ul class="more-info-links s-hidden">
          <li class="more-info"><%= documentation_app %></li>
          <li class="more-info"><%= documentation_rails %></li>
          <li class="more-info"><%= documentation_guides %></li>
          <li class="more-info"><%= link_to("Ruby Core", "http://www.ruby-doc.org/core-2.0.0/",target:"_blank") %></li>
          <li class="more-info"><%= link_to("Ruby stdlib", "http://www.ruby-doc.org/stdlib-2.0.0/",target:"_blank") %></li>
          <li class="more-info"><%= tolk_link %></li>
          <li class="more-info"><%= webconsole_link %></li>
        </ul>
      </div>
    </div>
    <div id="header">
      <div class="wrapper clearfix">
        <h1>
          <a href="/conductor" title="Welcom page">
            Welcome
          </a>
        </h1>
        <h3 id="title"><span id="fade-title-text">You are viewing:</span> <%= @page_title %></h3>
      </div>
    </div>
    <div id="feature">
      <div class="wrapper">
        <h2>
          Web UI for Rails commands
        </h2>
        <p>
          Conductor is a Rails engine that lets you do through a web UI what you'd normally do with the rails shell command.
        </p>
        <p id="terminal">$ rails g <span class="blink">_</span></p>

        <div id="subCol">
          <h3 class="action">
            <img src="<%= asset_path("chapters_icon.gif") %>" alt="">
            Actions
          </h3>

          <ol class="actions">
            <li>
              <h4>Code</h4>
              <ul class="links">
                <li><%= link_to("Test all", run_all_test_path) %></li>
                <li><%= link_to("Test models", run_model_test_path) %></li>
                <li><%= link_to("Test controllers", run_controller_test_path) %></li>
                <li><%= link_to("Test integration", run_integration_test_path) %></li>
              </ul>
            </li>

            <li>
              <h4>Generators</h4>
              <ul class="links">
                <li><%= link_to("Scaffold", new_scaffold_path) %></li>
                <li><%= link_to("Resource", new_resource_path) %></li>
                <li><%= link_to("Model", new_model_path) %></li>
                <li><%= link_to("Controller", new_app_controller_path) %></li>
                <li><%= link_to("Mailer", new_mailer_path) %></li>
              </ul>
            </li>

            <li>
              <h4>Manage</h4>
              <ul class="links">
                <li><%= link_to("Databases", database_path) %></li>
                <li><%= link_to("Migrations", migrations_path) %></li>
                <li><%= link_to("Fixtures", code_path(File.join(Rails.root,'test','fixtures'))) %></li>
                <li><%= link_to("Code Editor", codes_path) %></li>
                <li><%= link_to("Gems",edit_code_path(File.join(Rails.root,'Gemfile'))) %></li>
                <li><%= link_to("Install Gems",install_gemfile_path,:method=> :post) %></li>
              </ul>
            </li>

            <li>
              <h4>Reflection</h4>
              <ul class="links">
                <li><%= link_to("Routes", routes_path) %></li>
                <li><%= link_to("Annotations", annotations_path) %></li>
                <li><%= link_to("Statistics", statistics_path) %></li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div id="page">
      <div id="container">
        <div id="wrapper">
          <div id="mainCol">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>

            <div id="meat">
              <%= yield %>
            </div>
          </div>
          <%= yield :scripts %>
          <%= javascript_include_tag "conductor/blink" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
