<h1>Notes</h1>

<h2>TODO</h2>
<% for file in @todo.keys %>
  <div class="annotated_file">
    <p><%= file %></p>
    <ul>
      <% for annotation in @todo[file] %>
        <li><%= annotation.to_s(:indent => 0, :tag => true) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>FIXME</h2>
<% for file in @fixme.keys %>
  <div class="annotated_file">
    <p><%= file %></p>
    <ul>
      <% for annotation in @fixme[file] %>
        <li><%= annotation.to_s(:indent => 0, :tag => true) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>OPTIMIZE</h2>
<% for file in @optimize.keys %>
  <div class="annotated_file">
    <p><%= file %></p>
    <ul>
      <% for annotation in @optimize[file] %>
        <li><%= annotation.to_s(:indent => 0, :tag => true) %></li>
      <% end %>
    </ul>
  </div>
<% end %>