<h1>New scaffold</h1>

<p>
  Scaffolds an entire resource, from model and migration to controller and
  views, along with a full test suite. The resource is ready to use as a
  starting point for your RESTful, resource-oriented application.
</p>

<%= form_for(:scaffold, :url => scaffolds_path) do |f| %>
  <p>
    <%= f.label :name, "Name <small>(singular, ex: Post, Person, Product)</small>".html_safe %><br />
    <%= f.text_field :name %>
  </p>

  <h1>Fields</h1>

  <table id="fieldsTable">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% 5.times do |i| %>
      <tr class="field">
        <td><%= text_field_tag "scaffold[fields][][name]" %></td>
        <td><%= select_tag "scaffold[fields][][type]", options_for_select(Conductor::BaseGeneratorForm::DATA_TYPES) %></td>
      </tr>
    <% end %>
  </table>

  <a href="#" id="addField">Add a new field</a>

  <h1>Options</h1>

  <p>
    <%= f.check_box :skip_namespace %> <%= f.label :skip_namespace %><br />
    <%= f.check_box :skip_stylesheets %> <%= f.label :skip_stylesheets %> <br />
    <%= f.check_box :skip_assets %> <%= f.label :skip_assets %> <br />
    <%= f.check_box :skip_indexes %> <%= f.label :skip_indexes %> <br />
    <%= f.check_box :skip_fixture %> <%= f.label :skip_fixture %> <br />
    <%= f.check_box :skip_helper %> <%= f.label :skip_helper %> <br />
    <%= f.check_box :skip_jbuilder %> <%= f.label :skip_jbuilder %> <br />
    <%= f.check_box :skip_timestamps %> <%= f.label :skip_timestamps %> <br />
    <%= f.check_box :skip_migration %> <%= f.label :skip_migration %>
  </p>

  <p>
    <%= f.submit "Create scaffold" %>
  </p>
<% end %>

<%= content_for :scripts do %>
  <%= javascript_include_tag "conductor/generators" %>
<% end %>